.header {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  position: fixed;

  top: 0;
  left: 0;
  z-index: 1000;
  height: 60px;
  background-color: #111217;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.header-logo {
  width: 70px;
  height: 80px;
}

.header-logo img {
  max-width: 100%;
  height: auto;
  display: block;
}

.header-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: 50px;
}

.header-nav-item {
  display: flex;
  align-items: center;
  margin-right: 24px;
  position: relative;
}

.header-nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  line-height: 27px;
  margin-right: 5px;
}

.header-nav-link-button {
  padding: 0;
  margin: 0;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.header-nav-link-arrow {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav-item--phone {
  margin-left: auto;
  display: flex;
  align-items: center;
}
